/* #region Base (+reset) */
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: #FFFFFF;
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* #endregion */


/* #region Header */
header .container {
    border-bottom: 2px solid;
}

.header-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    padding-left: 156px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo-second {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    padding: 24px 76px 24px 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}


.header-nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--ocean);
}

.header-address {
    font-style: normal;
    padding-left: 332px;
    padding-right: 156px;
}


.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--ocean);
}

/* #endregion */


/* #region Hero*/
.section-hero {
    background-color: var(--navy-blue);
    display: flex;
    flex-direction: column;
}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-bottom: 188px;
}

.section-hero-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    padding-top: 188px;
    max-width: 496px;
}

.section-hero-btn {
    background: var(--iris);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    max-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
}

.section-hero-btn:hover,
.section-hero-btn:focus {
    background-color: var(--ocean);
}

/* #endregion */


/* #region Values*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
}

.section-val {
    margin: 120px 156px;
}

.container-val {
    display: flex;
}

.section-val-list {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 24px;
}

.section-val-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.section-val-desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* #endregion */


/* #region Team */
.section-team {
    background-color: var(--cloud);

}

.container-team {}

.section-team-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 120px;
    padding-bottom: 72px;
}

.section-team-list {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 24px;
    padding: 0 156px 120px;
}

.section-team-item {
    background: var(--white);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-team-desc {
    padding: 32px 16px;
}

.section-team-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.section-team-pos {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

/* #endregion */


/* #region Portfolio */
.section-portfolio {
    display: flex;
}

.container-portfolio {
    padding-top: 120px;
}

.section-portfolio-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-bottom: 72px;
}

.section-portfolio-list {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding-right: 156px;
    padding-left: 156px;
    padding-bottom: 120px;
}

.section-portfolio-desc {
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.section-portfolio-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.section-portfolio-tag {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* #endregion */


/* #region Footer */
.footer {
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
}

.container-footer {
    max-width: 264px;

}

.footer-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.footer-logo-second {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.footer-desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding-top: 16px;
}

/* #endregion */




.header-logo-second {

    padding: 24px 76px 24px 0;
}